{% extends 'base/base.html' %}


{% block title %} Results{% endblock title %}
    


{% block content %}
    <div class="container">
        <div class="download-data">
            <h2>All User Groups</h2>
            <a href="{% url 'home' %}">Back to Home</a>
        </div>
        <table>
            <thead>
                <th>#</th>
                <th>User Email</th>
                <th>Created At</th>
                <th>Group File Link</th>
            </thead>
            <tbody>
                {% for ug in upload_groups %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{ug.user.email}}</td>
                    <td>{{ug.created_at}}</td>
                    <td><a class="download" target="_" href="{% url 'results' ug.id %}">View Files</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
    