{% extends 'base/base.html' %}
{% load static %}


{% block title %}Home Page {% endblock title %}
    

{% block content %}
    <div class="container">
        <div class="main-cont">
            <div class="file-add-container">
                <form action="" method="post" id="formContainer" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="field-box">
                        <div class="field-container">
                            <div class="form-field">
                                <label for="name">File Name</label>
                                <input type="text" name="file-name" id="file-name" placeholder="Enter a File Name" value="{{values.file_title}}" required>
                            </div>
                            <div class="form-field">
                                <label for="file">Upload a File</label>
                                 <input type="file" name="file" id="file" value="{{values.get_pic}}" required>
                            </div>
                            <i class="del fas fa-minus-circle"></i>
                        </div>
                    </div>

                    <div class="btns">
                        <input type="submit" class="btn" value="Submit Form">
                        <span class="add-fields">Add Another File</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
    