// Colors Variables

$col-50: #e8f3fd;
$col-100: #b9dcf8;
$col-200: #8bc5f4;
$col-300: #5caeef;
$col-400: #2e96eb;
$col-500: #147dd1;
$col-600: #1061a3;
$col-700: #0b4574;
$col-800: #072a46;
$col-900: #020e17;


// Font Weight
$weight-light: 300;
$weight-regular: 400;
$weight-semi-bold: 600;